body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}


table {
    border-collapse: collapse;
    width: 100%;
    max-width: 60%;
    margin-left:17%; 
    margin-right:17%;
}

form {
    border-collapse: collapse;
    width: 100%;
    max-width: 35%;
    margin-left:34%; 
    margin-right:34%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }